*~

WORKS*
ugh*

*.pdf
*.fig
*.ps
*.jpg
*.png
*.mat
*.dat
*.o
*.a
*.x
*.ppt
*.msg
*.dump

*.tar
*.zip

*.rtp
*.op

ScottCode/Fit_ftc/Bin/
ScottCode/Fit_ftc/sartaV107/Bin/
ScottCode/Fit_ftc/Output_useconv/*rad*
ScottCode/Fit_ftc/Output_useconv/tau_co2test_m140_fow_long_4

TryFastModel_SARTA_by_Sergio/BBAERI/AERI_March02.csv
TryFastModel_SARTA_by_Sergio/HDO_AIRS_IASI_CRIS/hdo_csv.csv
TryFastModel_SARTA_by_Sergio/HDO_AIRS_IASI_CRIS/hdo_csv.fxp
TryFastModel_SARTA_by_Sergio/BBAERI/AERI_March30.csv

## this will be in FTC, latest stuff
CHepplewhiteCode   

